ion-content {
  --background: #ffffff; // White background
  color: #000000;        // Black text
  padding: 16px;
}

ion-searchbar {
  margin-bottom: 16px;
  --color: #ffffff;
}

ion-item {
  margin: 12px 0;
  border-radius: 12px;
  --background: #f9f9f9;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease-in-out;
  align-items: center;
  --color: #000000;

  &:hover {
    transform: scale(1.01);
  }

  ion-avatar {
    width: 64px;
    height: 96px;
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  ion-label {
    margin-left: 12px;
    h3 {
      font-size: 16px;
      font-weight: bold;
      color: #000;
      margin-bottom: 4px;
    }

    p {
      margin: 0;
      font-size: 14px;
      color: #333;
    }
  }

  ion-icon {
    font-size: 20px;
    color: #3880ff;
  }
}

ion-select {
  margin-top: 10px;
  --color: #000;
  --placeholder-color: #888;
}

ion-label {
  color: #000;
  font-weight: 500;
}
